<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.forsmark.visit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/> 
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="MainActivity"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <provider
                android:name=".contentProvider.MyContactProvider"
                android:authorities="se.forsmark.visit.database.contentprovider">
            </provider>
        </activity>
        <activity
            android:name="CalenderActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name="DayActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name="TermsActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name="ContactActivity"
            android:enabled="true" 
            android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name=".AttendantsActivity"
            android:enabled="true" android:windowSoftInputMode="stateUnchanged">
        </activity>
        <activity
            android:name="EditConfirmActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name="ConfirmActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name="AttendantsDialogActivity"
            android:enabled="true" >
        </activity>
        <activity
            android:name="EditContactActivity"
            android:enabled="true"
            android:windowSoftInputMode="stateUnchanged"> >
        </activity>
        <activity
            android:name="EditAttendantActivity"
            android:enabled="true"
            android:windowSoftInputMode="stateUnchanged"> >
        </activity>
          <activity
            android:theme="@android:style/Theme.Dialog"
            android:name="EditAttendantDialogActivity"
            android:enabled="true" >
        </activity>
    </application>

</manifest>